<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!--JDBC connection pool-->
        <property name="connection.pool_size">10</property>

        <!-- SQL Dialect-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--echo all executed SQL-->
        <property name="show_sql">true</property>

        <!--drop or re-create database schema at startup-->
        <property name="hbm2ddl.auto">create-drop</property>

        <!--Annotated entity class-->
        <!--<mapping class="com.ttn.entity.Person1"/>-->
        <!--<mapping class="com.ttn.entity.Vehicle"/>-->
        <!--<mapping class="com.ttn.entity.DebitAccount"/>-->
        <mapping class="com.ttn.entity.Author"/>
        <mapping class="com.ttn.entity.Book"/>


        <mapping class="com.ttn.entity.oneToManyUniDirectional.Author"/>
        <mapping class="com.ttn.entity.oneToManyUniDirectional.Book"/>
        <mapping class="com.ttn.entity.oneToManyUniDirectional.Address"/>
        <mapping class="com.ttn.entity.oneToManyUniDirectional.OneToManyUni"/>

        <mapping class="com.ttn.entity.oneToManyBiDirectional.Author"/>
        <mapping class="com.ttn.entity.oneToManyBiDirectional.Book"/>
        <mapping class="com.ttn.entity.oneToManyBiDirectional.Address"/>
        <mapping class="com.ttn.entity.oneToManyBiDirectional.OneToManyBi"/>

        <mapping class="com.ttn.entity.oneToManyWithoutTable.Author"/>
        <mapping class="com.ttn.entity.oneToManyWithoutTable.Book"/>
        <mapping class="com.ttn.entity.oneToManyWithoutTable.Address"/>
        <mapping class="com.ttn.entity.oneToManyWithoutTable.OneToManyWithoutTable"/>


        <mapping class="com.ttn.entity.manyToMany.Author"/>
        <mapping class="com.ttn.entity.manyToMany.Book"/>
        <mapping class="com.ttn.entity.manyToMany.Address"/>
        <mapping class="com.ttn.entity.manyToMany.ManyToMany"/>
    </session-factory>

</hibernate-configuration>