<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="event" class="events.ExampleEvent"/>-->
    <!--<bean id="eventHandler" class="events.EventHandler"/>-->
    <bean id="simpleAsyncTaskExecutor"
          class="org.springframework.core.task.SimpleAsyncTaskExecutor"/>


    <bean id="applicationEventMulticaster"
          class="org.springframework.context.event.SimpleApplicationEventMulticaster">
        <property name="taskExecutor" ref="simpleAsyncTaskExecutor"/>
    </bean>
</beans>