<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="applicationTemplate::head">
</head>
<body>
<form th:action="@{/greeting}" method="post" th:object="${user}">
    NAME::<input type="text" name="name" th:field="*{name}">
    EMAIL::<input type="text" name="email" th:field="*{email}">
    PASSWORD::<input type="text" name="password" th:field="*{password}">
    <input type="radio" th:field="*{admin}" th:value="true">ADMIN
    <input type="radio" th:field="*{admin}" th:value="false">USER
    <br>
    <input type="submit" value="submit">
</form>
<div th:include="applicationTemplate::footer"></div>
</body >
</html>