<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enum</title>
</head>
<body>
<form th:action="@{/enum}" method="post" th:object="${enumPerson}">
    NAME::<input type="text" name="name" th:field="*{name}">
    EMAIL::<input type="text" name="email" th:field="*{email}">
    PASSWORD::<input type="text" name="password" th:field="*{password}">
    <br>
<label>Person Type: </label>
<select th:field="*{person}">
    <option th:value="None">Select One</option>
    <option th:each="people:${T(com.ttn.thymeleaf.Person).values()}"
            th:value="${people}" th:text="${people}"></option>
</select>
    <input type="submit" value="submit">
</form>
</body>
</html>